/* ATAQ Website CSS */
/* Fix font flicker on load (from silvabokis.com) */
#desktopNav,
.title-desc-inner {
  animation: fade-me-in 1.5s;
}
@keyframes fade-me-in {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* DEFINE page name variables instead of collection id */
/* DEFINE ATAQ Brand Colour variables */
/*=============================
=            FONTS            =
=============================*/
/*----------  Custom Fonts  ----------*/
/*
@font-face {font-family: 'Notera';src: url('https://static1.squarespace.com/static/59dda7263e00be15fdb4d6cf/t/5dd571e426591d0da6e5feda/1574269412456/Notera.woff2') format('woff2'),url('https://static1.squarespace.com/static/59dda7263e00be15fdb4d6cf/t/5dd571dfd8f6e70a23740916/1574269407854/Notera.woff') format('woff');}

@font-face {font-family: 'Notera2Thin';src: url('https://static1.squarespace.com/static/59dda7263e00be15fdb4d6cf/t/5e39b0300934747943124a00/1580838960090/Notera2Thin.woff2') format('woff2'),url('https://static1.squarespace.com/static/59dda7263e00be15fdb4d6cf/t/5e39b02aa0af01453b5d92aa/1580838954298/Notera2Thin.woff') format('woff');}

h5 {
  font-family: 'Notera'; 
  font-size: 3.5em; 
  font-style: normal;
  font-weight:100; 
  letter-spacing:0em;
  line-height:0.8em; 
  margin-top: 0.25em; 
  margin-bottom:0em !important;
  text-transform: none;
}
*/
/*----------  Highlighter effect definitions  ----------*/
/*
h2 strong {
  background: linear-gradient(to top, @ataq-color1 45%, @ataq-transp 45%);
}
*/
/*=====  End of FONTS  ======*/
/*----------  disable hyphenation  ----------*/
/*
h2 {
  hyphens: none !important; 
  -webkit-hyphens: none !important; 
  -ms-hyphens: none  !important; 
}
*/
/*----------  Fix header sizing & letterspacing on mobile  ----------*/
/*
@media screen and (max-width:640px) {
  h2 {
    letter-spacing:.08em;
  }
}
*/
/*==============================
=            HEADER            =
==============================*/
/*----------  HEADER margin fix  ----------*/
/*
.Header-inner--top {
  padding-bottom: 0px;
  padding-top: 20px;
  margin-bottom: 0px;
}
*/
div.Header-inner--bottom {
  background-color: hsl(192, 63%, 21%);
}
/*----------  MOBILE HEADER  ----------*/
/*
.Mobile-bar--top {
  -webkit-box-shadow: 0px 3px 15px rgba(100, 100, 100, 0.49);
  -moz-box-shadow: 0px 3px 15px rgba(100, 100, 100, 0.49);
  box-shadow: 0px 3px 15px rgba(100, 100, 100, 0.49);
  padding-bottom: 0px !important;
}
*/
/*
.Mobile-bar-branding, .Mobile-bar-search, .Mobile-bar-menu, .Mobile-bar .Cart {
  padding-bottom: 0px;
}
*/
/*=====  End of HEADER  ======*/
/*==============================
=            FOOTER            =
==============================*/
.sqs-licensed-asset-preview-bar {
  display: none !important;
}
/*=====  End of FOOTER  ======*/
/*==================================
=            TYPOGRAPHY             =
==================================*/
/*=====  End of TYPOGRAPHY   ======*/
/*==================================
=            INDEX PAGE            =
==================================*/
/*----------  #landing section  ----------*/
/*#landing p {
  font-size: 1.5em;
  line-height: 1.6em;
}*/
#landing div.image-inset.content-fit {
  width: 40%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
#landing div.image-card.sqs-dynamic-text-container {
  padding-top: 0.25em;
}
/*=====  End of INDEX PAGE  ======*/
