/* ATAQ Website CSS */
/* Fix font flicker on load (from silvabokis.com) */
#desktopNav,
.title-desc-inner {
  animation: fade-me-in 1.5s;
}
@keyframes fade-me-in {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* DEFINE page name variables instead of collection id */
/* DEFINE ATAQ Brand Colour variables */
/*----------  BODY  ----------*/
body {
  background-color: hsl(192, 63%, 11%) !important;
}
/*=============================
=            FONTS            =
=============================*/
/*----------  Custom Fonts  ----------*/
/*
@font-face {font-family: 'FontName';src: url('source_url') format('woff');}
*/
/*----------  Highlighter effect  ----------*/
/*
h2 strong {
  background: linear-gradient(to top, @ataq-color1 45%, @ataq-transp 45%);
}
*/
/*----------  Global Typography  ----------*/
h1 {
  color: hsl(181, 82%, 40%);
}
h1,
h2,
h3 {
  hyphens: none !important;
  -webkit-hyphens: none !important;
  -ms-hyphens: none  !important;
}
@media screen and (max-width: 640px) {
  h1 {
    font-size: 1.75em;
  }
}
/*=====  End of FONTS  ======*/
/*==============================
=            HEADER            =
==============================*/
header.Header--bottom {
  background-color: hsl(192, 63%, 21%);
}
header.Header--bottom.Header--overlay {
  background-color: hsla(192, 63%, 21%, 0.65);
}
nav.Header-nav.Header-nav--secondary {
  padding-right: 40px;
}
/*----------  MOBILE HEADER  ----------*/
.Mobile-bar--top {
  -webkit-box-shadow: 0px 3px 9px hsla(192, 63%, 11%, 0.5);
  -moz-box-shadow: 0px 3px 9px hsla(192, 63%, 11%, 0.5);
  box-shadow: 0px 3px 9px hsla(192, 63%, 11%, 0.5);
}
.Mobile-bar-branding-logo {
  width: 135px;
}
/*=====  End of HEADER  ======*/
/*==============================
=            FOOTER            =
==============================*/
/* add custom image behind newsletter subscription block in footer */
.Footer {
  background-image: url('https://static1.squarespace.com/static/5e4ace3e6b594c4c6cab37a9/t/5e62ddc095105261eeedf75f/1583537600897/bg-pool-tiles-crop.jpg') !important;
  background-size: cover;
}
.Footer-inner {
  padding: 0 0 !important;
  background-color: hsla(192, 63%, 11%, 0.9);
}
.Footer-blocks--top {
  padding: 0;
  padding-top: 2rem;
  background-color: hsla(181, 82%, 40%, 0.2);
  background-blend-mode: soft-light;
}
.Footer-blocks--top div.newsletter-block {
  padding-bottom: 0 !important;
  width: 100% !important;
}
.Footer-blocks--top div.newsletter-block button.newsletter-form-button {
  font-family: trade-gothic-next-soft-rounded;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: #fff;
}
.Footer-blocks--middle,
.Footer-blocks--bottom,
.Footer-nav {
  padding-left: 17px !important;
  padding-right: 17px !important;
}
.sqs-licensed-asset-preview-bar {
  display: none !important;
}
/*=====  End of FOOTER  ======*/
/**
 *
 * = ========================================== =
 * =             I N D E X   P A G E            =
 * = ========================================== =
 */
/*========================================
=            #landing section            =
========================================*/
#landing h1 {
  font-size: 3.5em;
  color: white;
}
#landing p {
  font-size: 1.125em;
  line-height: 1.6em;
}
#landing p a {
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: rgba(255, 255, 255, 0.8);
}
#landing div.image-card.sqs-dynamic-text-container {
  padding-top: 0.25em;
}
#landing div.sqs-block-button {
  padding-top: 1.25em;
}
#landing div.sqs-block-button-container--center {
  font-size: 1.25em;
}
@media screen and (max-width: 640px) {
  #landing h1 {
    font-size: 2.5em;
  }
  #landing p {
    font-size: 1em;
  }
  #landing div.sqs-block-button-container--center {
    font-size: 1em;
  }
}
/*=====  End of #landing section  ======*/
/*=========================================
=            #features section            =
=========================================*/
#features div.image-block {
  padding-left: 0;
  padding-right: 0;
}
#features h1 {
  padding-bottom: 0.25em;
}
#features div.image-inset.content-fit {
  width: 60% !important;
  height: auto !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
#features div.image-card.sqs-dynamic-text-container {
  padding-top: 0.125em;
}
#features h2,
#features p {
  color: hsl(181, 82%, 33%);
}
/*=====  End of #features section  ======*/
/*=============================================
=            #most-popular section            =
=============================================*/
@media screen and (max-width: 640px) {
  #most-popular div.image-inset.content-fit {
    top: 27px;
  }
}
/*=====  End of #most-popular section  ======*/
/*=============================================
=            #testimonials section            =
=============================================*/
#testimonials.Index-page {
  background-color: hsl(192, 63%, 94%);
}
#testimonials h1 {
  font-size: 2em;
}
/*=====  End of #testimonials section  ======*/
/*=============================================
=            #instagram section            =
=============================================*/
#instagram h1 {
  font-size: 2em;
}
/*=====  End of #instagram section  ======*/
/*=====  End of   I N D E X   P A G E   ======*/
