/* ATAQ Website CSS */
/* Fix font flicker on load (from silvabokis.com) */
#desktopNav,
.title-desc-inner {
  animation: fade-me-in 1.5s;
}
@keyframes fade-me-in {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* DEFINE page name variables instead of collection id */
/* DEFINE ATAQ Brand Colour variables */
/*----------  BODY  ----------*/
body.tweak-site-width-option-constrained-width {
  background-color: hsl(192, 63%, 11%);
}
/*=============================
=            FONTS            =
=============================*/
/*----------  Custom Fonts  ----------*/
/*
@font-face {font-family: 'Notera';src: url('https://static1.squarespace.com/static/59dda7263e00be15fdb4d6cf/t/5dd571e426591d0da6e5feda/1574269412456/Notera.woff2') format('woff2'),url('https://static1.squarespace.com/static/59dda7263e00be15fdb4d6cf/t/5dd571dfd8f6e70a23740916/1574269407854/Notera.woff') format('woff');}

@font-face {font-family: 'Notera2Thin';src: url('https://static1.squarespace.com/static/59dda7263e00be15fdb4d6cf/t/5e39b0300934747943124a00/1580838960090/Notera2Thin.woff2') format('woff2'),url('https://static1.squarespace.com/static/59dda7263e00be15fdb4d6cf/t/5e39b02aa0af01453b5d92aa/1580838954298/Notera2Thin.woff') format('woff');}

h5 {
  font-family: 'Notera'; 
  font-size: 3.5em; 
  font-style: normal;
  font-weight:100; 
  letter-spacing:0em;
  line-height:0.8em; 
  margin-top: 0.25em; 
  margin-bottom:0em !important;
  text-transform: none;
}
*/
/*----------  Highlighter effect definitions  ----------*/
/*
h2 strong {
  background: linear-gradient(to top, @ataq-color1 45%, @ataq-transp 45%);
}
*/
/*=====  End of FONTS  ======*/
/*----------  disable hyphenation  ----------*/
/*
h2 {
  hyphens: none !important; 
  -webkit-hyphens: none !important; 
  -ms-hyphens: none  !important; 
}
*/
/*----------  Fix header sizing & letterspacing on mobile  ----------*/
/*
@media screen and (max-width:640px) {
  h2 {
    letter-spacing:.08em;
  }
}
*/
/*==============================
=            HEADER            =
==============================*/
header.Header--bottom div.Header-inner.Header-inner--bottom {
  background-color: hsl(192, 63%, 21%);
}
header.Header--bottom.Header--overlay div.Header-inner.Header-inner--bottom {
  background-color: hsla(192, 63%, 21%, 0.65);
}
nav.Header-nav.Header-nav--secondary {
  padding-right: 40px;
}
/*----------  MOBILE HEADER  ----------*/
.Mobile-bar--top {
  -webkit-box-shadow: 0px 3px 9px hsla(192, 63%, 11%, 0.5);
  -moz-box-shadow: 0px 3px 9px hsla(192, 63%, 11%, 0.5);
  box-shadow: 0px 3px 9px hsla(192, 63%, 11%, 0.5);
}
.Mobile-bar-branding-logo {
  width: 135px;
}
/*=====  End of HEADER  ======*/
/*==============================
=            FOOTER            =
==============================*/
.Footer {
  background-color: hsl(181, 82%, 40%);
}
.sqs-licensed-asset-preview-bar {
  display: none !important;
}
/*=====  End of FOOTER  ======*/
/*==================================
=            TYPOGRAPHY             =
==================================*/
h1 {
  color: hsl(181, 82%, 40%);
}
h1,
h2,
h3 {
  hyphens: none !important;
  -webkit-hyphens: none !important;
  -ms-hyphens: none  !important;
}
@media screen and (max-width: 640px) {
  h1 {
    font-size: 1.75em;
  }
}
/*=====  End of TYPOGRAPHY   ======*/
/**
 *
 * ================================== =
 * =            INDEX PAGE            =
 * ================================== =
 */
/*========================================
=            #landing section            =
========================================*/
#landing h1 {
  font-size: 3.5em;
  color: white;
}
#landing p {
  font-size: 1.125em;
  line-height: 1.6em;
}
#landing p a {
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: rgba(255, 255, 255, 0.8);
}
#landing div.image-card.sqs-dynamic-text-container {
  padding-top: 0.25em;
}
#landing div.sqs-block-button {
  padding-top: 1.25em;
}
#landing div.sqs-block-button-container--center {
  font-size: 1.25em;
}
@media screen and (max-width: 640px) {
  #landing h1 {
    font-size: 2.5em;
  }
  #landing p {
    font-size: 1em;
  }
  #landing div.sqs-block-button-container--center {
    font-size: 1em;
  }
}
/*=====  End of #landing section  ======*/
/*=========================================
=            #features section            =
=========================================*/
#features div.image-block {
  padding-left: 0;
  padding-right: 0;
}
#features h1 {
  padding-bottom: 0.25em;
}
#features div.image-inset.content-fit {
  width: 60% !important;
  height: auto !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
#features div.image-card.sqs-dynamic-text-container {
  padding-top: 0.125em;
}
#features h2,
#features p {
  color: hsl(181, 82%, 33%);
}
/*=====  End of #features section  ======*/
/*=============================================
=            #most-popular section            =
=============================================*/
@media screen and (max-width: 640px) {
  #most-popular div.image-inset.content-fit {
    top: 27px;
  }
}
/*=====  End of #most-popular section  ======*/
/*=============================================
=            #testimonials section            =
=============================================*/
#testimonials div.Index-page-content {
  background-color: hsl(192, 63%, 97%);
}
#testimonials h1 {
  font-size: 2em;
}
/*=====  End of #testimonials section  ======*/
/*=============================================
=            #instagram section            =
=============================================*/
#instagram h1 {
  font-size: 2em;
}
/*=====  End of #instagram section  ======*/
/*=====  End of INDEX PAGE  ======*/
