/* ATAQ Website CSS */  

/* Fix font flicker on load (from silvabokis.com) */
#desktopNav, .title-desc-inner {
  animation: fade-me-in 1.5s;
}

@keyframes fade-me-in {
  0% {opacity:0;}
  80% {opacity:0;}
  100% {opacity:1;}
}

/* DEFINE page name variables instead of collection id */
// @services-page: collection-5e1e35322ee5903aac1cf3c5;
// @bio-page: collection-5e1e3b0dea1c913c8b171986;

/* DEFINE ATAQ Brand Colour variables */
@ataq-blue: hsl(196, 100%, 47%);
@ataq-aqua: hsl(181, 82%, 40%);
@ataq-aqua-type: hsl(181, 82%, 33%);
@ataq-dark-type: hsl(192, 63%, 25%);
@ataq-dark: hsl(192, 63%, 21%);
@ataq-darker: hsl(192, 63%, 11%);
@ataq-lighter: hsl(192, 63%, 97%);
@ataq-wine: hsl(338, 40%, 43%);
@ataq-brand-blue: hsl(193, 100%, 40%);
@ataq-brand-aqua: hsl(177, 48%, 55%);
@ataq-transp: hsla(0,0%,100%,0);


/*----------  BODY  ----------*/
body.tweak-site-width-option-constrained-width {
  background-color: @ataq-darker;
}

/*=============================
=            FONTS            =
=============================*/

/*----------  Custom Fonts  ----------*/

/*
@font-face {font-family: 'Notera';src: url('https://static1.squarespace.com/static/59dda7263e00be15fdb4d6cf/t/5dd571e426591d0da6e5feda/1574269412456/Notera.woff2') format('woff2'),url('https://static1.squarespace.com/static/59dda7263e00be15fdb4d6cf/t/5dd571dfd8f6e70a23740916/1574269407854/Notera.woff') format('woff');}

@font-face {font-family: 'Notera2Thin';src: url('https://static1.squarespace.com/static/59dda7263e00be15fdb4d6cf/t/5e39b0300934747943124a00/1580838960090/Notera2Thin.woff2') format('woff2'),url('https://static1.squarespace.com/static/59dda7263e00be15fdb4d6cf/t/5e39b02aa0af01453b5d92aa/1580838954298/Notera2Thin.woff') format('woff');}

h5 {
  font-family: 'Notera'; 
  font-size: 3.5em; 
  font-style: normal;
  font-weight:100; 
  letter-spacing:0em;
  line-height:0.8em; 
  margin-top: 0.25em; 
  margin-bottom:0em !important;
  text-transform: none;
}
*/

/*----------  Highlighter effect definitions  ----------*/
/*
h2 strong {
  background: linear-gradient(to top, @ataq-color1 45%, @ataq-transp 45%);
}
*/
/*=====  End of FONTS  ======*/


/*----------  disable hyphenation  ----------*/
/*
h2 {
  hyphens: none !important; 
  -webkit-hyphens: none !important; 
  -ms-hyphens: none  !important; 
}
*/

/*----------  Fix header sizing & letterspacing on mobile  ----------*/
/*
@media screen and (max-width:640px) {
  h2 {
    letter-spacing:.08em;
  }
}
*/


/*==============================
=            HEADER            =
==============================*/


/*----------  HEADER margin fix  ----------*/
/*
.Header-inner--top {
  padding-bottom: 0px;
  padding-top: 20px;
  margin-bottom: 0px;
}
*/

div.Header-inner--bottom {
	background-color: @ataq-dark;
}

nav.Header-nav.Header-nav--secondary {
  padding-right: 40px;
}
/*----------  MOBILE HEADER  ----------*/

// Drop Shadow Mobile Header
/*
.Mobile-bar--top {
  -webkit-box-shadow: 0px 3px 15px rgba(100, 100, 100, 0.49);
  -moz-box-shadow: 0px 3px 15px rgba(100, 100, 100, 0.49);
  box-shadow: 0px 3px 15px rgba(100, 100, 100, 0.49);
  padding-bottom: 0px !important;
}
*/

/*
.Mobile-bar-branding, .Mobile-bar-search, .Mobile-bar-menu, .Mobile-bar .Cart {
  padding-bottom: 0px;
}
*/

.Mobile-bar-branding-logo {
  width: 135px;
}

/*=====  End of HEADER  ======*/


/*==============================
=            FOOTER            =
==============================*/

.Footer { 
  background-color: @ataq-aqua;
}

.Footer-blocks--top {}

.sqs-licensed-asset-preview-bar { display: none !important }

.Footer-blocks--middle {}

/*=====  End of FOOTER  ======*/


/*==================================
=            TYPOGRAPHY             =
==================================*/

h1 {
	color: @ataq-aqua;
}

/*=====  End of TYPOGRAPHY   ======*/


/**
 *
 * ================================== =
 * =            INDEX PAGE            =
 * ================================== =
 */

/*========================================
=            #landing section            =
========================================*/


#landing {

  h1 {
    font-size: 3.5em;
    color: white;
  }
  p {
    font-size: 1.125em;
    line-height: 1.6em;
  }
  div.image-card.sqs-dynamic-text-container {
    padding-top: 0.25em;
  }
  div.sqs-block-button {
    padding-top: 1.25em;
  }
  div.sqs-block-button-container--center {
    font-size: 1.25em;
  }
}

@media screen and (max-width:640px) {
  #landing {
    h1 {
      font-size: 2.25em;
    }
    p {
      font-size: 1.125em;
    }
    div.sqs-block-button-container--center {
      font-size: 1.0em;
    }
  }
}

/*=====  End of #landing section  ======*/


/*=========================================
=            #features section            =
=========================================*/

#features {

  h1 {
    padding-bottom: 0.25em;
  }
  // icon size and position
  div.image-inset.content-fit {
    width:82% !important;
    height:auto !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  div.image-card.sqs-dynamic-text-container {
      padding-top: 0.25em;
  }
  h2, p {
    color: @ataq-aqua-type;
  }

}

/*=====  End of #features section  ======*/


/*=============================================
=            #testimonials section            =
=============================================*/

#testimonials {

  div.Index-page-content {
    background-color: @ataq-lighter;
  }

}


/*=====  End of #testimonials section  ======*/


/*=====  End of INDEX PAGE  ======*/
