/* ATAQ Website CSS */  

/* Fix font flicker on load (from silvabokis.com) */
#desktopNav, .title-desc-inner {
  animation: fade-me-in 1.5s;
}
@keyframes fade-me-in {
  0% {opacity:0;}
  80% {opacity:0;}
  100% {opacity:1;}
}


/* DEFINE element variables */
@landing-hero-photo: block-yui_3_17_2_1_1596820888480_45809;
@landing-organizations: block-yui_3_17_2_1_1583775184157_5628;

/* DEFINE ATAQ Brand Colour variables */
@ataq-blue: hsl(196, 100%, 47%);
@ataq-aqua: hsl(181, 82%, 40%);
@ataq-aqua-overlay: hsla(181, 82%, 40%,0.52);
@ataq-aqua-type: hsl(181, 82%, 33%);
@ataq-dark-type: hsl(192, 63%, 25%);
@ataq-dark: hsl(192, 63%, 21%);
@ataq-darker: hsl(192, 63%, 11%);
@ataq-dark-overlay: hsla(192, 63%, 11%, 0.8);
@ataq-lighter: hsl(192, 63%, 94%);
@ataq-wine: hsl(338, 40%, 43%);
@ataq-brand-blue: hsl(193, 100%, 40%);
@ataq-brand-aqua: hsl(177, 48%, 55%);
@ataq-transp: hsla(0,0%,100%,0);

// fix top margin glitch on mobile menu open
body#collection-5e629cbc7bed9958dfe63a32.is-mobile-overlay-active {
  // margin-top: 0px !important;
}

/*=============================
=            FONTS            =
=============================*/

/*----------  Custom Fonts  ----------*/

/*
@font-face {font-family: 'FontName';src: url('source_url') format('woff');}
*/

/*----------  Highlighter effect  ----------*/

/*
h2 strong {
  background: linear-gradient(to top, @ataq-color1 45%, @ataq-transp 45%);
}
*/

/*----------  Global Typography  ----------*/

h1 {
  color: @ataq-aqua;
}


h1, h2, h3 {
  hyphens: none !important; 
  -webkit-hyphens: none !important; 
  -ms-hyphens: none  !important; 

}

h3 {
  margin-top: 2.5em !important;
}

@media screen and (max-width:640px) {
  h1 {
    font-size: 1.75em;
  }
}

/*=====  End of FONTS  ======*/


/*==============================
=            HEADER            =
==============================*/

header.Header--bottom {
	background-color: hsl(192, 63%, 21%);
}
header.Header--bottom.Header--overlay {
  background-color: hsla(192, 63%, 21%,0.65);
}
nav.Header-nav.Header-nav--secondary {
  padding-right: 20px;
}

/*----------  MOBILE HEADER  ----------*/

// Drop Shadow Mobile Header
.Mobile-bar--top {
  -webkit-box-shadow: 0px 3px 9px hsla(192, 63%, 11%, 0.5);
  -moz-box-shadow: 0px 3px 9px hsla(192, 63%, 11%, 0.5);
  box-shadow: 0px 3px 9px hsla(192, 63%, 11%, 0.5);
}

/*=====  End of HEADER  ======*/


/*==============================
=            FOOTER            =
==============================*/

/* add custom image behind newsletter subscription block in footer */
footer.Footer { 
  background-color: @ataq-dark-overlay !important;
  background-image: url('https://static1.squarespace.com/static/5e4ace3e6b594c4c6cab37a9/t/5e62ddc095105261eeedf75f/1583537600897/bg-pool-tiles-crop.jpg') !important;
  background-blend-mode: multiply;
  background-size: cover;
  
}

.Footer-inner {
  // max-width: 100%;
  // padding-right: 0;
  // padding-left: 0; 
  padding-top: 2.5rem !important;
}

.Footer-blocks--top {
  padding-top: 2.0rem;
  background-color: @ataq-aqua-overlay;
  padding-left: 20px;
  padding-right: 20px;

  
  div.newsletter-block {
    // margin: 0 !important;
    // margin-top: 0;
    // margin-bottom: 0;
    padding-bottom: 0 !important;
    width: 100% !important; 
}
  div.newsletter-block button.newsletter-form-button {
    font-family: trade-gothic-next-soft-rounded;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: .06em;
    color: #fff;
  }
  .newsletter-form-field-element {
    color: @ataq-dark-type;
    font-weight: 700;
  }
}
  
.Footer-blocks--middle {
  margin-top: 2rem;
}
.Footer-blocks--middle,
.Footer-blocks--bottom,
.Footer-nav {
  padding-left: 17px !important;
  padding-right: 17px !important;
}

.sqs-licensed-asset-preview-bar { display: none !important }


/*=====  End of FOOTER  ======*/


/**
 *
 * = ========================================== =
 * =             I N D E X   P A G E            =
 * = ========================================== =
 */

/*========================================
=            #landing section            =
========================================*/


#landing {
  h1 {
    font-size: 3.125em;
    color: white;
    margin-bottom: 0.25em;
  }

  p {
    font-size: 1.0em;
    // font-size: 1.43vw;
    line-height: 1.7em;
  }

  p a {
    border-bottom-width: 1.5px;
    border-bottom-style: solid;
    border-bottom-color: rgba(255, 255, 255, .8);
  }

  div.sqs-block-button {
    padding-top: 1.75em;
  }

  div.sqs-block-button-container--center {
    font-size: 1.125em;
  }

  // swimmer photo
  #@{landing-hero-photo} {
    width: 67%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: .5rem !important;

    img {
      border-radius: 50%;
      border: white 3px solid;
      box-sizing: border-box;
    }

  }

  // organizations image
  #@{landing-organizations} {
    padding-top: 2.25em;
  }

}


/*----------  tablet  ----------*/

@media screen and (max-width:768px) {
  #landing {
    // baby image size
    #block-yui_3_17_2_1_1583775184157_55759 {
      width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }
    // organizations image size
    #block-yui_3_17_2_1_1583775184157_5628 {
      width: 80%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }
  }
}


/*----------  mobile  ----------*/

@media screen and (max-width:640px) {
  #landing {
    h1 {
      font-size: 2.5em;
    }
    p {
      font-size: 1.0em;
    }
    div.sqs-block-button-container--center {
      font-size: 1.0em;
    }
    div.Index-page-content {
      padding-top: 45px;
    }
    // baby image size
    #block-yui_3_17_2_1_1583775184157_55759 {
      width: 50%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }
    // organizations image size
    #block-yui_3_17_2_1_1583775184157_5628 {
      width: 67%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

/*=====  End of #landing section  ======*/


/*=========================================
=            #features section            =
=========================================*/

#features {

  div.image-block {
    padding-left: 0;
    padding-right: 0;
  }
  h1 {
    padding-bottom: 0.25em;
  }
  // icon size and position
  div.image-inset.content-fit {
    width:60% !important;
    height:auto !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  div.image-card.sqs-dynamic-text-container {
      padding-top: 0.125em;
  }
  h2, p {
    color: @ataq-aqua-type;
  }
  .sqs-block-image .design-layout-card:not(.sqs-narrow-width) {
    display: block !important;
  }
  .sqs-block-image .design-layout-card:not(.sqs-narrow-width) .image-card-wrapper {
      width: 100% !important;
  }
  .sqs-block-image .design-layout-card:not(.sqs-narrow-width)>div:first-child {
      width: 100% !important;
  }
}

/*=====  End of #features section  ======*/



/*=============================================
=            #covid19 section            =
=============================================*/

#covid19.Index-page {
	background-color: @ataq-lighter;
}
#covid19 {
h1 {
	font-size: 2.0em;
}
/* Hyphens */
p a {
	-webkit-hyphens: manual !important;
		 -moz-hyphens: manual !important;
			-ms-hyphens: manual !important;
					hyphens: manual !important;
 }
}


/*=====  End of #covid19 section  ======*/


/*=============================================
=            #most-popular section            =
=============================================*/

div.image-card {
  div.image-subtitle-wrapper {
    p a {
      border-bottom: @ataq-dark-type 0.5px solid;
    }
    p a:hover {
      color: @ataq-aqua-type;
      border-bottom: @ataq-aqua 0.5px solid;
    }
  }
}
@media screen and (max-width:640px) {
  #most-popular {
    div.image-inset.content-fit {
      top: 27px;
    }
  }
}
/*=====  End of #most-popular section  ======*/


/*=============================================
=            #testimonials section            =
=============================================*/

#testimonials.Index-page {
	//  HIDE PAGE TEMPORARILY
	display: none !important;
    background-color: @ataq-lighter;
  }
#testimonials {
  h1 {
    font-size: 2.0em;
  }
}


/*=====  End of #testimonials section  ======*/


/*=============================================
=            #instagram section            =
=============================================*/

#instagram {

  h1 {
    font-size: 2.0em;
  }

}

/*=====  End of #instagram section  ======*/

/*=====  End of   I N D E X   P A G E   ======*/


/*=============================================
=            #contact page            =
=============================================*/

#collection-5e629b554f939d6a4c649ce8 {
  /*----------  remove newsletter from this page  ----------*/
  div .Footer-blocks--top {
    display: none !important;
  }
  div .Footer-blocks--middle {
    margin-top: -1.5rem;
  }
}

/*=====  End of #contact page  ======*/



/*=============================================
=  HIDE NEWSLETTER FORM ON ALL PAGES          =
=============================================*/

footer {
  /*----------  remove newsletter from this page  ----------*/
  div .Footer-blocks--top {
    display: none !important;
  }
  div .Footer-blocks--middle {
    margin-top: -1.5rem;
  }
}

/*=====  HIDE NEWSLETTER FORM ON ALL PAGES  ======*/


/*=============================================
=              REGISTER PAGE - TABLE         =
=============================================*/
div #page-5e62aad805645219a3858b8f {
  .tg {
    border-collapse: collapse;
    border-color: @ataq-dark;
    border-spacing: 0;
  }

	.tg tr:nth-child(even) {
		background-color: white;
	}

	.tg tr {
		background-color: @ataq-lighter;
	}
  .tg td {
    // background-color: #EBF5FF;
    border-color: @ataq-dark-type;
    border-style: solid;
    border-width: 1px;
		color: @ataq-dark-type;
    // font-family: Arial, sans-serif;
    font-size: 14px;
		line-height: 1.2rem;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
  }

	.tg td:nth-child(1) {
		font-weight: 700;
	}

  .tg th {
    background-color: @ataq-dark;
    border-color: @ataq-lighter;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    // font-family: Arial, sans-serif;
    font-size: 14px;
		line-height: 1.2rem;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}
.tg td, .tg th {
	border:none !important;
}

  .tg .tg-ru17 {
    font-weight: bold;
    position: -webkit-sticky;
    position: sticky;
    text-align: left;
    top: -1px;
    vertical-align: top;
    will-change: transform;
  }

  .tg .tg-0lax {
    text-align: left;
    vertical-align: top
  }

  @media screen and (max-width: 767px) {
    .tg {
      width: auto !important;
    }

    .tg col {
      width: auto !important;
    }

    .tg-wrap {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
  }
}/* ====== REGISTER PAGE - TABLE ====== */